@{
	var status = Context.Request.Query["state"];

	var inprocess = "text-dark";
	var pending= "text-dark";
	var completed = "text-dark";
	var approved = "text-dark";
	var all = "text-dark";

	switch (status)
	{
		case "inprocess":
			inprocess = "active text-white";
			break;
		case "pending":
			pending = "active text-white";
			break;
		case "completed":
			completed = "active text-white";
			break;
		case "approved":
			approved = "active text-white";
			break;
		case "all":
			all = "active text-white";
			break;
	}
}


<link rel="stylesheet" href="~/css/adminPages.css" asp-append-version="true" />

<body>
	<div style="margin-bottom:150px;" class="container border border-2 border-secondary">
		<div class="d-flex justify-content-between pt-5">
			<div class="p-2">
				<h2 class="text-dark">Order List</h2>
			</div>
			<div class="p-2 text-end">
				<ul class="list-group list-group-horizontal-sm" >
					<a style="text-decoration:none" asp-controller="Order" asp-action="Index" asp-route-state="inprocess">
						<li class="list-group-item @inprocess">In Process</li>
					</a>

					<a style="text-decoration:none" asp-controller="Order" asp-action="Index" asp-route-state="pending">
						<li class="list-group-item  @pending">Payment Pending</li>
					</a>

					<a style="text-decoration:none" asp-controller="Order" asp-action="Index" asp-route-state="completed">
						<li class="list-group-item  @completed">Completed</li>
					</a>

					<a style="text-decoration:none" asp-controller="Order" asp-action="Index" asp-route-state="approved">
						<li class="list-group-item  @approved">Approved</li>
					</a>

					<a style="text-decoration:none" asp-controller="Order" asp-action="Index" asp-route-state="all">
						<li class="list-group-item @all">All</li>
					</a>
				</ul>
			</div>
		</div>

		<hr />


		<table id="tblData" class=" py-2 table table-striped table-primary table-hover text-center">
			<thead>
				<tr>
					<th>
						ID
					</th>
					<th>
						Name
					</th>
					<th>
						Phone Number
					</th>
					<th>
						Email
					</th>
					<th>
						Status
					</th>
					<th>
						Total
					</th>
					<th></th>
				</tr>
			</thead>
		</table>

	</div>
</body>


@section Scripts{
<script src="~/js/order.js"></script>
}